:root {
    --color-font-base: #333;
    --color-font-green: #11361F;
    --color-background: #FCF9F2;
    --color-FFF: #FFF;
}

:root {
    --width-content: 1080px;
}

:root {
    --font-family-base: 'Noto Sans JP', sans-serif;
    --font-family-medium: 'Noto Sans JP', sans-serif;
    --font-family-sub : 'Oswald', sans-serif;
}