@media screen and (min-width: 768px) {
    .u-sp {
    display: none !important;
}
}

.u-pc {
display: none !important;
}

@media screen and (min-width: 768px) {
.u-pc {
    display: block !important;
}
}

.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

/*
section__title
*/

.u-pb24 {
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .u-pb24 {
        padding-bottom: 0;
    }
}

.u-pb40-64 {
    padding-bottom: 40px;
}

@media screen and (min-width: 1080px) {
    .u-pb40-64 {
        padding-bottom: 64px;
    }
}

.u-pt24 {
    padding-top: 24px;
}

.u-pt64-96 {
    padding-top: 64px;
}

@media screen and (min-width: 1080px) {
    .u-pt64-96 {
        padding-top: 96px;
    }
}

.u-pb64-96 {
    padding-bottom: 64px;
}

@media screen and (min-width: 1080px) {
    .u-pb64-96 {
        padding-bottom: 96px;
    }
} 

@media screen and (min-width: 1080px) {
    .u-pb48 {
        margin-bottom: 48px;
    }

    .u-pb96 {
        padding-bottom: 96px;
    }
}

/* footer */
.u-pd24 {
    padding: 24px 0 25px 0;
}

@media screen and (min-width: 1080px) {
    .u-ml32 {
        margin-left: 32px;
    }
}